---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import AboutMe from '@components/home/AboutMe.astro';
import Description from '@components/home/Description.astro';
---

<Layout
  title='Home'
  pageTitle='Vtechniq | Home'
  description='Cà Phê & Code: A Vietnamese Developer Brew.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <AboutMe />
    <Description />
    <RecentBlogPosts />
  </main>
</Layout>
