---
import ProjectCard from '@components/projects/ProjectCard.astro';
import Layout from '@layouts/Default.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects').then((projects) =>
  projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
);
---

<Layout
  title='Projects'
  pageTitle='Vtechniq | Projects'
  description='Explore the projects that mark my milestones in learning and growth.'
>
  <main class='bg-yellow p-6'>
    <ul class='grid md:grid-cols-3 2xl:grid-cols-4 gap-8'>
      {
        projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
