---
import { Card } from '@eliancodes/brutal-ui';
---

<section class='mt-8'>
  <Card color='orange'>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>Who am I?</h2>
    <p class='poppins'>
      Hi, I'm Canh, software engineer located in Hanoi, currently working as
      Technical Lead at <a
        href='https://seta-international.com/'
        class='underline'
        target='_blank'>Seta International</a
      >. Driven by a fervent passion for web technologies, I've dedicated
      several years to honing my skills and experience in Fullstack development.
    </p>
    <p class='poppins mt-2'>
      Currently, alongside my primary role, I'm venturing into project
      management to broaden my knowledge and perspective within the industry.
      I'm excited to connect and share experiences with the IT community!
    </p>
  </Card>
</section>
