---
import { Pill } from '@eliancodes/brutal-ui';
import GiscusComments from './GiscusComments.astro';

interface Props {
  content: any;
  tags: string[];
}

const { content, tags } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose open-sans'>
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
  <p class='text-slate text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <slot />
  <div class='flex gap-4 mt-10'>
    {
      tags.map((tag) => {
        return (
          <a class='sanchez' href={`/blog/tags/${tag.toLowerCase()}/`}>
            <Pill>{tag}</Pill>
          </a>
        );
      })
    }
  </div>

  <GiscusComments />
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
