---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import { Button } from '@eliancodes/brutal-ui';

const tags = await getCollection('blog').then((collection) => {
  const tags: string[] = [];
  collection.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });
  return Array.from(new Set(tags));
});
---

<Layout
  title='Tags'
  description='Vtechniq Blog | On this page you can find a collection of blogposts'
  pageTitle='Vtechniq Blog | Tags'
>
  <main class='bg-green p-6'>
    <div class='flex justify-between items-center pb-6'>
      <h1 class='text-3xl md:text-5xl dm-serif'>All Tags</h1>
      <Button href='/blog/'>&larr; Back to blogposts</Button>
    </div>
    <div class='flex justify-between items-center'>
      <ul class='flex flex-wrap gap-4'>
        {
          tags.map((tag) => (
            <li>
              <a href={`/blog/tags/${tag}`}>
                <Button>{`#${tag}`}</Button>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
